*{
margin: 0;
padding: 0;
}
body{
    background-color: #000;
    color: #fff;

}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    background-color: black;
}

#banner{
  width: 100%;
  height: 585px;
  border: 3px solid white;
  transform: translate3d(0px, 5px, 0px);
}
#logo{
border: #fff 1px solid;
}
.container {
    position: relative;
    text-align: center;
    color: #000;
    font-size: larger;
}
.para1{
    margin-bottom: 14px;
    margin-top: 14px;
    text-align: center;
    color:#fff;
    font-family: 'Avenir';
}
#video{
 width:auto;
 height:500px;
 margin-top: 25px;
 margin-bottom: 25px;
 margin-left: 50px;
 border: 3px solid white;
 
}
#side{
    color:white;
    border: 3px solid white;
   padding:auto;
}
#search{
 margin-top: 8px;
 height:30px;
}

#main {
    margin-top:70px;
}
#button{
    margin-bottom: -5px;
}
#shadow{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #888888;
}
#poster{
    margin-top: 10px;
    background-size: cover;
    position: absolute;
    width: 100%;
    border: 3px solid white;
    height:500px;
   
}
#h3{
    position: relative;
    color:#000;
    letter-spacing:  0.2rem;
    text-align: end;
    padding-top: 160px;
    margin-left: 900px;
    margin-right: 50px;
    font-size: 15px;
    font-family: Avenir;
    color: #fff;
    
}
.button{
    position: relative;
    color:#FFF;
    border: 1px solid #666;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    transition: all 0.4s;
    margin-left: 1000px;
}
.button:hover{
    background-color: #f78da7;;
}
.para2{
position: relative;
margin-top: 190px;
margin-bottom: 14px;
text-align: center;
color:#fff;
font-family: 'Avenir';
}
#sidepara{
    margin-top: 10px;
}
#sidepara2{
    margin-top: 10px;
    text-align: center;
}

#sideimg{
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 10px;
}
#sideimg1{
    box-shadow: inset;
    margin-top: 15px;
    border: 3px solid white;
}
.carousel{
    margin-left: 38px;
}
.para3{
    margin-top: 10px;
    text-align: center;
}
#footer{
    margin-top: 25px;
    background-color: rgb(56, 55, 55)
}
#left{
    padding-top: 15px;
margin-left: 50px;
}